.home-container {
  align-content: center;
  justify-content: center;
  justify-content: space-between;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 60px;
  margin-left: 60px;
}
body {
  background: linear-gradient(to bottom, white, rgb(189, 183, 183));
  margin: 1rem;
  height: 100vh;
  background-attachment: fixed;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 5em;
  font-family: "Mountains of Christmas";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  margin-bottom: 10px;
  margin-top: none;
  padding:none;
}
h2 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: "Bubbler One";
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
h3 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-family: "Bubbler One";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
h4 {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  font-size: 1.5em;
  font-family: "Bubbler One";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
button {
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24);
}
.image {
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  display: inline-block;
  max-width: 250px;
  max-height: 250px;
  margin: 15px; /*the white border around the cookie image */
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24),
    0 10px 50px 0 rgba(0, 0, 0, 0.19);
}
.cookie-img:hover {
  background: linear-gradient(to bottom, rgb(221, 221, 221), rgb(179, 179, 179));
}
.random-recipe {
  align-content: center;
  justify-content: center;
  display: inline-flex;
  font-size: 2em;
  font-family: "Mountains of Christmas";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 535px;
  border-radius: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.flavor_suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align-last: center;
  font-size: 2em;
  font-family: "Bubbler One";
}
#deleteSuggestionButton {
  align-content: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1em;
  font-family: "Mountains of Christmas";
  padding: 7px;
}
#submitSuggestionButton {
  align-content: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1em;
  font-family: "Mountains of Christmas";
  padding: 7px;
}
#suggestion-label{
  align-content: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1em;
  font-family: "Bubbler One";
}
.suggestion{
  align-content: center;
  justify-content: center;
  display: inline-flex;
  font-size: 1.5em;
  font-family: "Bubbler One";
}
#suggestion-form{
  padding-bottom:2em;
}
form {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-family: "Bubbler One";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.styled-list{
  color: black;
  font-size: 1.5em;
  font-family: "Bubbler One";
  text-shadow: 2px 5px 5px rgb(160, 167, 168);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.recipe-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column-list{
  display: flex;
  flex-direction: column;
}
a{
  font-size: 1.5em;
  font-family: "Bubbler One";
  color: black;
}
.stars {
  display: flex;
  align-content: center;
  justify-content: center;
}
input.star { 
  display: none; 
}
label.star {
  padding: 10px;
  font-size: 36px;
  color: grey;
  transition: all .2s;
}
input.star:checked ~ label.star:before {
  content: '\f005';
  color: goldenrod;
  transition: all .25s;
}
input.star-5:checked ~ label.star:before {
  color: goldenrod;
  text-shadow: 0 0 20px orange;
}
input.star-1:checked ~ label.star:before { 
  color: orangered; 
}
label.star:hover { 
  transform: rotate(-15deg) scale(1.3); 
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
.stars form{
  flex-direction: row-reverse;
}